.chart-container--header {
  background-color: #eee;
  border-top: 1px solid #ddd;
  box-shadow: 0 2px 4px #ccc;
}

.chart-container--title {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 20px 10px 10px;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   40% { transform: rotate(0deg); }
   43% { transform: rotate(20deg); }
   46% { transform: rotate(-20deg); }
   48% { transform: rotate(0deg); }
}

@keyframes shake {
  1%, 11% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  2%, 10% {
    transform: translate3d(1px, 0, 0);
  }

  3%, 6%, 8% {
    transform: translate3d(-2px, 0, 0);
  }

  5%, 7% {
    transform: translate3d(2px, 0, 0);
  }
}

.chart-container--legend-negative {
  cursor: pointer;
  height: 28px;
  width: 28px;
  position: absolute;
  bottom: -20px;
  left: 30px;
  transform: translate3d(0, 0, 0);
  animation: shake 8s infinite 4s cubic-bezier(.36,.07,.19,.97);

}

.chart-container--legend-positive {
  cursor: pointer;
  flex-grow: 1;
  height: 28px;
  width: 28px;
  position: absolute;
  top: 35px;
  left: 30px;
  animation: wiggle 8s infinite;
  
}

.chart-container--legend-overlay {
  position: absolute;
  padding-left: 20px;
  height: 220px;
  width: 100px;
  z-index: 10;

}

.chart-container {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  overflow-x: scroll;
  padding: 20px;
  position: relative;
}

.chart-container--footer {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px #ccc;
  color: #777;
  padding: 0 20px;
  text-align: center;

  @media (min-width: 992px) {
    font-size: 14px;
    font-weight: bold;
    padding: 13px 20px;
  }
}
