{
	"presets": [
		"es2015",
    "stage-2"
	],
	"plugins": [
		["transform-react-jsx"],
    ["module-resolver", {
      "root": ["./src", "./spec"],
      "alias": {
				"views": "/src/views",
				"styles": "/src/styles",
				"static": "/src/static",
        "mocks": "/spec/mocks"
      }
    }]
	]
}
