@import '~style/helpers';

.trendpage {
  padding: 30px;
}

.trendpage--heading {
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.trendpage--responsive-cards {
  align-items: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
