.about {
  padding-left: 15px;
  padding-right: 15px;
}

.about--description {
  color: #333;
  font-size: 16px;
}

.about--timeline {
  color: #333;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.about--timeline-bubble {
  display: block;
  height: 32px;
  margin: 25px auto;
  width: 32px;
}

.about--timeline-date {
  text-align: center;
  text-transform: uppercase;

  &::after {
    border-top: 1px solid #333;
    content: '';
    display: block;
    margin: 8px auto 16px;
    width: 1 / 8 * 100%;
  }
}

.about--timeline-text {
  color: #333;
  font-size: 16px;
  padding: 0 30px;
  text-align: center;
}

.about--contributers {
  display: flex;
}

.about--contributers-item {
  flex-grow: 1;

  img {
    border: 3px solid #8dd97f;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 48px;
  }
}
