@import './variables';
@import './fonts';

html {
  body {
    background-color: #eee;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
  }
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  width: 100%;

  @media (min-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.col {
  float: left;
  width: 100%;
}

.brand {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: .67em 0;
}

.brand-green {
  color: #8dd97f;
}

.brand-red {
  color: #bc5757;
}
