@import 'variables';
@import 'dependencies';

body {
  font: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: #EEE;
}

.chart-container {
  background-color: #FFF;
  padding: 20px;
  border-bottom: 1px solid #DDD;
}

.chart-container--line {
  border-bottom: 1px solid #CCC;
  padding-bottom: 4px;
  background-color: #EEE;
  box-shadow: 0 2px 4px #CCC;
}

.card-container {
  padding-top: 10px;
}

.card {
  background-color: #FFF;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  box-shadow: 2px 2px 6px #D2D2D2;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.card--header {
  p {
    display: inline-block;
    margin: 0;
    font-size: 1.3rem;
    font-weight: normal;
  }

  span {
    float: right;
  }
}
