@import 'variables';
@import 'dependencies';

body {
  font-family: 'Roboto', sans-serif!important;
  font-size: 12px;
  background-color: #EEE;
}

.loading--title {
  font-size: 3rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading--image {
  width: 32px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chart--title {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 2.3rem;
}

.chart-container {
  background-color: #FFF;
  padding: 20px;
  border-bottom: 1px solid #DDD;
  position: relative;
}

.chart-container--line {
  border-bottom: 1px solid #CCC;
  background-color: #EEE;
  box-shadow: 0 2px 4px #CCC;
  padding: 0 20px;
  color: #777;
}

.card-container {
  padding-top: 10px;
}

.card {
  min-height: 60px;
  background-color: #FFF;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  box-shadow: 2px 2px 6px #D2D2D2;
  margin-top: 9px;
  margin-bottom: 9px;
  padding-top: 10px;
  padding-bottom: 10px;

  .card--title {
    font-family: 'PT Serif', serif;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
  }

  .card--image {
    border-bottom: 1px solid #eee;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .card--description {
    margin: 15px 10px;
    font-size: 1.6rem;
  }

  .card--showdescription {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: lowercase;
    margin-top: 18px;
    cursor: pointer;
  }
}

.card--header {
  .card--source {
    display: inline-block;
    margin: 0;
    font-size: 1.3rem;
    font-weight: normal;
  }

  .card--time {
    float: right;
  }
}


.chart--arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}


#chart--left {
  &:extend(.chart--arrow);
  left: 4px;
}

#chart--right {
  &:extend(.chart--arrow);
  right: 4px;
}

#navigation--back {
  font-size: 22px;
  margin: 0 12px;
  line-height: 50px;
  float: left;
}

#hideDescription {
  margin-right: 8px;
}

twitterwidget {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
  .chart--title {
    text-align: center;
  }
  .chart-container--line {
    font-size: 1.9rem;
    font-weight: bold;
    padding: 13px 20px;
  }
  .chart--arrow {
    font-size: 30px;
  }
}
