@import '~style/helpers';

.aboutpage {
  padding: 15px;
}

.aboutpage--heading {
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 45px;
  text-transform: uppercase;
}

.aboutpage--sentisociallogo {
  display: block;
  margin: auto;
  max-width: 256px;
}

.aboutpage--githublogo {
  margin: 0 5px;
  width: 12px;
}

.aboutpage--contributors {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
}

.aboutpage--contributors-anchor {
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
  text-align: center;

  img {
    border-radius: 4px;
    margin: auto 10px;
  }
}
