.trackingprotection--header {
  display: flex;
  margin-bottom: 16px;
}

.trackingprotection--icon {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.trackingprotection--text {
  color: #666;
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  margin-left: 16px;
}

.trackingprotection--footer {
  color: #666;
  margin-top: 16px;
}
